 h1 {
     background-color: yellow;
     color: black;
 }
 body {
     background-color: lime;
 }
 table, th, td {
  border: 1px solid red;
  border-collapse: collapse;
 }

 a {
    color: black;
    text-decoration: none;
 }

 .info {
    text-decoration: b;
 }
